body {
    width: 1200px;
    margin: auto;
    padding: 0;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: rgb(0 0 0);
    line-height: 1.5;
    text-transform: uppercase ;
    background-color: rgb(255 255 255);
    background-position: center;
}

a {
    text-decoration: none;
}

.index header {
    height: 590px;
    background-color:rgb(255, 255, 255);
    background-image: url(../img/Shape%201%20copy%203.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

nav a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: color .1s ease;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

.header-main {
    background-color: rgb(255, 255, 255)
}

li {
    list-style: none;
}

.header-main a:hover,
.header-main a:focus {
    color: rgb(145, 188, 219);
}

h2,
h3 {
    font-size: 21px;
}
.about-city {
    color: rgb(255,255,255);
    background-color: rgb(129,179,210);
}
.list-numbers {
    background-color: rgb(238, 238, 238)
}

.visited-title {
    font-size: 30px;
    font-weight: bolder;
}

.form-search {
    background-color: rgb(118, 99, 87);
}

.footer {
    background-color: rgba(249, 251, 246, 0.5);
}

.footer-tag{
    font-size: 21px;
}

.social {
    font-size: 0;
}

.tw {
    height: 50px;
    width: 50px;
    background-color: rgb(129, 179, 210);
    background-image: url("../img/t.svg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: 20px 20px;
    margin-right: 10px;
}

.fc {    
    height: 50px;
    width: 50px;
    background-color: rgb(129, 179, 210);
    background-image: url("../img/fb-icon.svg");
    background-position:  center;
    background-repeat:  no-repeat;
    background-size: 20px 20px;
   
}

.yt {
    height: 50px;
    width: 50px;
    background-color: rgb(129, 179, 210);
    background-image: url("../img/youtube.svg");
    background-position:  center;
    background-repeat:  no-repeat;
    background-size: 23px 17px;
    margin-left: 10px;
}

.social-button:hover,
.social-button:focus {
    border: 2px solid rgb(134, 165, 184);
    background-color: rgb(90, 115, 130);
    background-size: 20px 20px;
}

.footer-copyright {
    width: 241px;
}

.footer-copyright-button {
   background-color: rgb(255, 255, 255);

}

/* вторая страница*/
.catalog .header-conteiner {
    height: 275px;
    background-color: rgb(124 125 176);
    background-image: url(../img/filter%20background.jpg);
    background-size: 1200px 275px;
    background-position: center;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.about-hotel {
    color: rgb(255, 255, 255);
}

.about-hotel h2,
.money h2 {
    font-size: 16px;
}

.choice-title {
    font-size: 21px;
     font-weight: bolder;
}

.choice-text,
.choise-type {
    font-size: 12px;
}

.choise-type-maney,
.choise-type-type,
.choise-type-rating {
    color: rgb(202, 202, 202);
    border-bottom: 1px dotted rgb(129, 179, 210);
}


.choise-type-maney:hover,
.choise-type-maney:focus,
.choise-type-type:hover,
.choise-type-type:focus,
.choise-type-rating:hover,
.choise-type-rating:focus {
    color: rgb(129, 179, 210);
    border-bottom: none;
}

.arrow-one {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:  rgb(255, 255, 255);
    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.arrow-two {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/icon-down-dir-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.arrow-one:hover,
.arrow-one:focus {
    width: 20px;
    height: 20px;
    background-color:  rgb(255, 255, 255);
    background-image: url(../img/icon-up-dir-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.arrow-two:hover,
.arrow-two:focus {
    width: 20px;
    height: 20px;
    background-color:  rgb(255, 255, 255);
    background-image: url(../img/icon-down-dir-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.rating {
    width: 110px;
    height: 30px;
    background-color: rgb(202, 202, 202);
    text-align: center;
}

.amara-resot,
.deserrt-quail-inn,
.villas-at-poco-diablo {
    border: 1px solid rgb(202, 202, 202);
    border-collapse: collapse;
}

.hotel-yet{
    background-color: rgb(129, 179, 210);
}

.hotel-button-tab {
    background-color: rgb(119, 99, 87);
     text-transform: uppercase ;
}

.hotel-title {
    font-size: 21px;
    font-weight: bolder;
}


/*сетка*/
/*.header-main {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
}

.header-list {
    margin: 0px;
    padding-bottom: 23px;
    padding-top: 23px;
    align-self: flex-start;
    flex-basis: 235px;
}

.list-two {
    margin-right: 80px;
} */

.header-novigation {
    margin: 0px;
    position: relative;
    padding-left:  70px;
    padding-right: 70px;
    background-color: rgb(255, 255, 255);
}

.header-novigation ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.header-novigation li {
    width: 20%;
    margin: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-main .list-one,
.header-main .list-two {
    text-align: left;
}

.header-main .list-three,
.header-main .list-four{
    text-align: right;
}

.header-logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 138px;
    margin: 0 auto;
}

.conteiner {
    display: flex;
    flex-direction: column;
}

.conteiner-big-text,
.conteiner-small-text {
    align-self: center;
    padding-left: 300px;
    padding-right: 300px;
}

.about-city {
    display: flex;
    flex-direction: row;
    height: 256px;
    margin-top: 30px;
    justify-content: space-around;
}

.about-city-conteiner {
    padding: 45px 60px 60px 65px;
    margin: 0;
}

.aboun-city-img {
    margin: 0;
    padding: 0;
    width: auto;
}

.list-bye {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 0px;
    justify-content: space-around;
    align-items: center;
}

.item-bye-house,
.item-bye-food,
.item-bye-gift {
    flex-basis: 320px;
}

.list-numbers {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 65px;
    justify-content: space-around;
    align-items: center;
}

.item-three,
.item-four,
.item-five {
    flex-basis: 320px;
}

.visited {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visited-up {
    align-self: center;
    margin-left: 285px;
    margin-right: 285px;
}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 51px;
    padding-top: 50px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-around;
}


/* вторая страница */

.about-hotel {
    margin: 0;
    padding: 0px 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.things,
.type-hotel {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; 
}

.things ul,
.type-hotel ul {
    margin: 0px;
    padding: 0px;
}

.things-title {
    margin-top: 0px;
}

.things-list li{
   margin-bottom: 20px;
}

.type-hotel-title {
    align-self: flex-start;
    margin-top: 0px;
}

.type-hotel-list li {
     margin-bottom: 20px;
}

.things-list,
.type-hotel-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.money {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex-basis: 320px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.money-title {
    align-self: flex-start;
    margin-bottom: 10px;
    margin-top: 0px;
}

.money-output {
    margin-bottom: 10px;
}

.money-button-tab {
    margin-bottom: 20px;
}

.choise {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 6%;
    padding-right: 6%;
}

.choise-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 260px;
}

.hotel {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
}

.left {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.left figure {
    margin: 0px;
}

.hotel-info p {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
}

.info-right,
.info-left {
    margin: 0px;
}

.hotel-info h2{
    margin: 0px;
    padding-bottom: 15px;
    text-align: left;
}

.hotel-info{
    margin: 0px;
    padding-left: 30px;
    align-items: center;
}

.info-left {
    margin-right: 8px;
}

.hotel-info-box {
    display: flex;
}

.hotel-rating-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
} 