.checkbox-off, .checkbox-on{
	background: url(sprites.png) no-repeat;
}

.checkbox-off{
	background-position: -1px -25px ;
	width: 23px;
	height: 23px;
}

.checkbox-on{
	background-position: -0.000003814697265625px 0;
	width: 27px;
	height: 23px;
}

